html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body { 
    font-family: "Century Gothic";
    line-height: 1.75;
}
.wrapper {
    margin-top: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
}


header {
    background-color: rgb(38, 150, 38);
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-bottom: solid rgb(93, 92, 92) 1.5px;
    position: fixed;
    top: 0; 
    left: 0
}

.header__inner {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo__click:hover {
    background-color: rgb(28, 114, 28);
}


.logo {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: auto;
}

.logo__text {
    font-size: 25px;
    font-family: "Century Gothic";
    font-weight: bold;
    color: white;
    margin-left: 10px;
    text-shadow: 0.5px 0.5px 0.5px #000;
}

.nav__list {
    display: flex;
    gap: 25px;
}


.nav__link {
    font-size: 18px;
    font-family: "Century Gothic";
    text-decoration: none;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000;
}

.nav__link:hover {
    color: rgb(186, 186, 186);
}

.page-title {
    text-align: center;
}

.main {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 50px;
}

.main__inner {
    display: flex;
    justify-items: center;
    flex-direction: row;
}

.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(245, 245, 245);
}

.content h1:first-child, .content h2:first-child, .content h3:first-child, .content h4:first-child {
    margin-top: 5px;
}

.content h1, .content h2, .content h3, .content h4 {
    margin-top: 35px;
}

@media( max-width:692px  ) {
    .header__inner {
        flex-direction: column;
        justify-content: center;
        padding-top: 5px;
    }
    .main {
        padding-top: 70px;
    }
    .menu {
        width:100%;
    }
    .nav__list {
        justify-content: space-between;
    }

}

@media( max-width:456px ) {
    .logo__text {
        font-size: 20px;
    }
    .nav__link {
        font-size: 15px;
    }

}

@media( max-width:430px) {
    .logo__text {
        font-size: 20px;
    }
    .header__inner {
        padding: 5px;
    }

}

@media( max-width:380px ) {
    .logo__text {
        font-size: 20px;
    }
    .nav__link {
        font-size: 12px;
    }
    .header__inner {
        padding: 3px;
    }

}


.error-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1;
}
.error-container p, h1, a {
    margin: 15px
}

