 <footer class="footer">
		<div class="footer__inner">
			<div class="footer__column">
				<div class="footer__logo">
					<span class="logo__text" style="margin-left: 0;">RP-PS</span>
				</div>
				<p class="footer__description">Сервер по Sandbox с поддержкой ACE, JMod и другими вайбовыми аддонами.</p>
				<p class="footer__description">Существуем с 2016 года!</p>
			</div>
			
			<div class="footer__column">
				<h4 class="footer__title">Навигация</h4>
				<ul class="footer__list">
					<li><a href="/" class="footer__link">Главная</a></li>
					<li><a href="/docs" class="footer__link">Документация</a></li>
					<li><a href="/donate" class="footer__link">Донат</a></li>
				</ul>
			</div>

			<div class="footer__column">
				<h4 class="footer__title">Ресурсы</h4>
				<ul class="footer__list">
					<li><a href="https://discord.gg/8jp9FdFkhW" class="footer__link">Discord</a></li>
					<li><a href="https://steamcommunity.com/groups/ruspvppveserver" class="footer__link">Steam</a></li>
					<li><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3257049572" class="footer__link">Контент</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__bottom">
			<p>&copy; RP-PS | 2016-2026</p>
		</div>
	</footer>