<div class="header__inner">
    <a href="/" class="logo__click  ">
        <div class="logo">
            <img src="/images/logo.jpg" alt="RP-PS">
            <p class="logo__text">RP-PS</p>
        </div>
    </a>
    
    <nav class="menu">
       <ul class="nav__list">
            <li class="nav__item">
                <a href="/rules" class="nav__link">Правила</a>
            </li>
            <li class="nav__item">
                <a href="/docs" class="nav__link">Документация</a>
            </li>
            <li class="nav__item">
                <a href="/donate" class="nav__link">Донат</a>
            </li>
       </ul>
    </nav>
</div>
