<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    
    <body>
        <div class="wrapper">
            <header> {% include header.html %} </header>
            <div class="main"> 
                <h1 class="page-title">{{ page.title }}</h1>
                <div class="main__inner">
                    <section class="content">
                        {{ content }} 
                    </section>
                </div>
            </div> 
        </div>
    </body> 
</html>